/**
 * CSS Reset
 * From Blueprint reset.css
 * http://blueprintcss.googlecode.com
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/**
 * Basic Typography
 */
body {
    font-family: Helvetica, Arial, Verdana, Geneva, Lucida, sans-serif;
    font-size: 80%;
    color: #FCFCFC;
    background: #fff;
    margin: 1em 1.5em;
}
pre, code {
    margin: 0.5em 0;
    white-space: pre;
}
pre, code {
    font: 1em 'andale mono', 'lucida console', monospace;
    line-height:1.4;
}
a[href] {
    color: #436976;
    background-color: transparent;
}
h1, h2, h3, h4, h5, h6 {
    color: #FCFCFC;
    background-color: transparent;
    font: 100% Helvetica, Arial, Verdana, Geneva, Lucida, sans-serif;
    margin: 0;
    padding-top: 0.5em;
}
h1 {
    font-size: 130%;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 120%;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 110%;
    margin-bottom: 0.5em;
    text-decoration: underline;
}
h4 {
    font-size: 100%;
}
h5 {
    font-size: 90%;
}
h6 {
    font-size: 80%;
    font-weight: bold;
}

.olControlAttribution {
    bottom: 5px;
}

/**
 * Map Examples Specific
 */

html, body, #map {
    margin: 0;
    width: 100%;
    height: 100%;
}

html{
    overflow-y: hidden;
    -webkit-font-smoothing: antialiased;
}


#filters {
    padding: 10px 0 5px 20px;
}
#services {
    padding-left: 10px;
    padding-right: 10px;
}
.noServices {
    padding-left: 10px;
}
#info {
    padding-left: 10px;
    padding-right: 10px;

}
#tags {
    display: none;
}

#docs p {
    margin-bottom: 0.5em;
}
.selected-service {
    color: #2E8AE6;
}
.serviceList{

    list-style-type: none;
    padding:0px;
    margin:2px;
    margin-left:10px;
    font-size: 80%;
    font-weight: 10;
    color: #D6EBFF;
}
.infoList{

    list-style-type: none;
    padding:0px;
    margin:2px;
    margin-left:10px;
    font-size: 80%;
    font-weight: 10;
}
.list-in-list{
    list-style-type: none;
    padding:0px;
    font-weight: 10;
}
.list-in-list-indent{
    list-style-type: none;
    padding:0px;
    font-weight: 10;
    padding-left: 10px;
}
.horizontal-list-title{
    display: inline;
    color:#2E8AE6;
}
.horizontal-list{
    display: inline;
}
.indend-list-element{
    padding-left: 10px;
}

.headline-divider{
    background-color: white;
    min-height: 1px;
    margin-bottom: 6px;
}


