
<!DOCTYPE html>
<html ng-app style="overflow-y: hidden;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Maritime Service Portfolio Registry - demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- CSS-->

    <!--<link rel="stylesheet" href="css/spinner.css" type="text/css">-->




    <!--<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">-->
    <!--special edition boorstrap to get nav menu to work: from: http://jasny.github.io/bootstrap/dist/css/bootstrap.css -->
    <link href="css/bootstrap-Jasny.css" rel="stylesheet">



    <!-- Open Layers-->
    <!--<link rel="stylesheet" href="http://openlayers.org/dev/theme/default/style.css" type="text/css"-->
    <link rel="stylesheet" href="css/olstyle.css" type="text/css">

    <!-- Custom styles for the off canvas 'menu' -->
    <link href="css/navmenu.css" rel="stylesheet">



</head>
<body ng-controller="geolocationCtrl">
<!--nav from: http://jasny.github.io/bootstrap/components/#navmenu-fixed-->


<div id="left-navbar" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">

    <div id="services" ng-cloak>
        <div ng-repeat="serviceHeadline in serviceHeadlines">
            <h4 ng-bind="serviceHeadline" ng-show="checkHeadline(serviceHeadline)"></h4>
            <div class="headline-divider" ng-show="checkHeadline(serviceHeadline)"></div>
            <div id="serviceLists" ng-repeat="service in servicesAngular | filter:serviceHeadline">
               <ul class="serviceList">
                   <li
                        ng-bind="service.title"
                        ng-click="markService(service.title,$index)"
                        ng-class="{'selected-service': service.title == markedTitle }"
                        style="cursor:pointer">
                   </li>
               </ul>
            </div>
        </div>
    </div>
    <div id="noServices" ng-show="noServices()" ng-cloak>
        <h4>No services available</h4>
    </div>

    <!--
        <div id="services" ng-show="authorityServices || commercialServices" ng-cloak>
            <h2 id="authority_services_title" ng-show="authorityServices">Authority services</h2>
            <div id="authority_serviceList">
                <div ng-repeat="serviceTitle in serviceTitles | filter:authorityFilter">
                    <ul>
                        <li ng-class="{'selected-class-name': $index == selectedIndex1 }"
                            ng-click="markService(serviceTitle.title,$index,'authority')"
                            style="cursor:pointer">{{serviceTitle.title}}</li>
                    </ul>

                </div>
            </div>
            <h2 id="commercial_services_title" ng-show="commercialServices" >Commercial services</h2>
            <div id="commercial_serviceList">
                <div ng-repeat="serviceTitle in serviceTitles | filter:commercialFilter">
                    <ul>
                        <li ng-class="{'selected-class-name': $index == selectedIndex2 }"
                            ng-click="markService(serviceTitle.title,$index,'commercial')"
                            style="cursor:pointer">{{serviceTitle.title}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div id="noServices" ng-hide="authorityServices || commercialServices" ng-cloak>
            <h2 id="no_services_title">No services available</h2>
        </div>
        <div id="info" ng-show="showInfoBox" ng-cloak>
            <h2 id="info_title">Service info</h2>

            <div ng-bind="provider"></div>
            <div>{{method}}</div>
            <div>{{endpoint}}</div>
            <div>Endpoint:</div>
            <div ng-repeat="endpoint in endpoints">

                <a ng-href="{{endpoint}}" ng-show="isInternet" target="_blank" style="padding-left: 10px">{{endpoint}}</a>
                <div ng-bind="endpoint" ng-hide="isInternet" style="padding-left: 10px"></div>
            </div>

        </div>
        -->

</div>
<div id="right-navbar" class="navmenu navmenu-default navmenu-fixed-right offcanvas-sm">
    <div id="info" ng-show="showInfoBox" ng-cloak>
        <h4 id="info_title">Service info</h4>
        <div class="headline-divider" ></div>
        <ul class="serviceList">
            <ul class="list-in-list">
                <li class="horizontal-list" style="font-weight: bold;">Instance Name: </li>
                <li class="horizontal-list" ng-bind="instanceName"></li>
            </ul>
            <ul class="list-in-list">
                <li class="horizontal-list" style="font-weight: bold;">Provider: </li>
                <li class="horizontal-list" ng-bind="provider"></li>
            </ul>
            <li ng-hide="isEndpoint" style="font-weight: bold;">Description:</li>
            <pre ng-hide="isEndpoint" ng-bind="description"></pre>
            <li ng-show="isEndpoint" style="font-weight: bold;">Endpoint:</li>

            <ul class="list-in-list-indent" ng-show="isEndpoint">
                <li class="horizontal-list" style="font-weight: bold;">Type: </li>
                <li class="horizontal-list " ng-bind="endpointType"></li>
            </ul>
            <ul class="list-in-list-indent" ng-show="isEndpoint">
                <li class="horizontal-list" style="font-weight: bold;">Url: </li>
                <li  class="horizontal-list" ng-show="isInternetUrl">
                    <a ng-href="{{endpointUrl}}" target="_blank">Link</a>
                </li>
                <li class="horizontal-list" ng-bind="endpointUrl" ng-hide="isInternetUrl">
            </ul>

            <ul class="list-in-list">
                <li class="horizontal-list" style="font-weight: bold;">Operational Service: </li>
                <li class="horizontal-list" ng-bind="operationalService"></li>
            </ul>
            <li>Service specification:</li>
            <ul class="list-in-list-indent">
                <li class="horizontal-list" style="font-weight: bold;">Service ID: </li>
                <li class="horizontal-list" ng-bind="serviceID"></li>
            </ul>
            <ul class="list-in-list-indent">
                <li class="horizontal-list" style="font-weight: bold;">Name: </li>
                <li class="horizontal-list" ng-bind="serviceName"></li>
            </ul>
            <ul class="list-in-list-indent">
                <li class="horizontal-list" style="font-weight: bold;">Version: </li>
                <li class="horizontal-list" ng-bind="serviceVersion"></li>
            </ul>
            <ul class="list-in-list-indent">
                <li class="horizontal-list" style="font-weight: bold;">Variant: </li>
                <li class="horizontal-list" ng-bind="serviceVariant"></li>
            </ul>
            <ul class="list-in-list-indent" style="padding-left: 10px;">
                <li class="horizontal-list" style="font-weight: bold;">Transport: </li>
                <li class="horizontal-list" ng-bind="serviceTransport"></li>
            </ul>
        </ul>
    </div>
    <div id="noServices" ng-hide="showInfoBox" ng-cloak>
        <h4>No service selected</h4>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-top visible-sm visible-xs">
    <button type="button" class="navbar-toggle visible-sm visible-xs" data-toggle="offcanvas" data-target="#left-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <button type="button" class="navbar-toggle visible-sm visible-xs" data-toggle="offcanvas" data-target="#right-navbar"
            style="float: right; margin-right: 15px; position: relative;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

</div>

<div class="container" style="border: none; height: 100%; width: 100%; ">

    <div>
           <h1 id="title">Maritime Service Portfolio Registry</h1>
    </div>

    <div id="map"></div>

    <div id="filters" ng-cloak>
        <h2 id="filter_title">Service filters</h2>
        <form id="mapform">
            <input type="radio" name="maptype" value="own" >Own pos
            <!--<input type="radio" name="maptype" value="marker">Marker pos-->
            <input type="radio" name="maptype" value="none" checked="true">All
        </form>
    </div>



    <!--
    <button id="locate">Locate me!</button>
    <input type="checkbox" name="track" id="track">
    <label for="track">Track my position</label>
    -->
    <!--
    <div id="title" ng-cloak>
        <h1 id="maintitle">Maritime Service Portfolio Registry</h1>
    </div>
    -->



</div>




<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
<script src="http://openlayers.org/dev/OpenLayers.js"></script>
<script src="json/services.js"></script>
<script src="js/geolocation.js"></script>


<!--used for responsive design-->
<script src="js/jquery-1.10.2.min.js"></script>

<script src="js/bootstrap.min.js"></script>
<script src="js/offcanvas.js"></script>

<script>
    $('#left-navbar').offcanvas({'autohide':false});
    $('#right-navbar').offcanvas({'autohide':false});
</script>



</body>
</html>
