<!DOCTYPE html>
<html ng-app style="overflow-y: hidden;" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>Maritime Service Portfolio Registry - demo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
    <!-- CSS-->

    <!--special edition bootstrap to get nav menu to work: from: http://jasny.github.io/bootstrap/dist/css/bootstrap.css -->
    <link href="css/bootstrap-Jasny.css" rel="stylesheet">
    <!-- Custom style for this app-->
    <link rel="stylesheet" href="css/custom-styles.css" type="text/css">
    <!-- Custom styles for the off canvas 'menu' -->
    <link href="css/navmenu.css" rel="stylesheet">

</head>
<body ng-controller="geolocationCtrl">
<!--Left menu-->
<div id="left-navbar" class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm" style="overflow:auto;">

    <div id="filters" ng-cloak>
        <form id="mapform">
            <input type="radio" name="maptype" value="none" checked="true"
                   style="margin-right: 5px;">All
            <input type="radio" name="maptype" value="own"
                   style="margin-right: 5px; margin-left: 20px;">Own pos
            <!--<input type="radio" name="maptype" value="marker">Marker pos-->
        </form>
    </div>

    <div id="services" ng-cloak>
        <div ng-repeat="serviceHeadline in serviceHeadlines">
            <h4 ng-bind="serviceHeadline" ng-show="checkHeadline(serviceHeadline)"></h4>
            <div class="headline-divider" ng-show="checkHeadline(serviceHeadline)"></div>
            <div id="serviceLists" ng-repeat="service in servicesAngular | filter:serviceHeadline">
               <ul class="serviceList">
                   <li
                        ng-bind="service.title"
                        ng-click="markService(service.title,$index)"
                        ng-class="{'selected-service': service.title == markedTitle }"
                        style="cursor:pointer">
                   </li>
               </ul>
            </div>
        </div>
    </div>
    <div id="noServices" ng-show="noServices()" class="noServices" ng-cloak>
        <h4>No services available</h4>
    </div>
</div>
<!--Right menu-->
<div id="right-navbar" class="navmenu navmenu-default navmenu-fixed-right offcanvas-sm" style="overflow:auto;">
    <div id="info" ng-show="showInfoBox" ng-cloak>
        <h4 id="info_title">Service</h4>
        <div class="headline-divider" ></div>
        <ul class="infoList">
            <ul class="list-in-list">
                <li class="horizontal-list-title">Instance Name: </li>
                <li class="horizontal-list" ng-bind="instanceName"></li>
            </ul>
            <ul class="list-in-list">
                <li class="horizontal-list-title">Provider: </li>
                <li class="horizontal-list" ng-bind="provider"></li>
            </ul>
            <li class="horizontal-list-title" ng-hide="isEndpoint">Description:</li>
            <pre ng-hide="isEndpoint" ng-bind="description"></pre>

            <ul class="list-in-list" ng-show="isEndpoint && isInternetUrl">
                <li class="horizontal-list-title">Url:</li>
                <li  class="horizontal-list" ng-show="isInternetUrl">
                    <a ng-href="{{endpointUrl}}" target="_blank" ng-bind="urlShorted"></a>
                </li>
                <li class="horizontal-list" ng-bind="endpointUrl" ng-hide="isInternetUrl">
            </ul>

            <input ng-click="extendInfoBox()" type="button" value="Show details" id="showHideButton" style="margin:5px 0">
            <div ng-show="showHideInfoBox">
                <ul class="list-in-list">
                    <li class="horizontal-list-title" >Operational Service: </li>
                    <li class="horizontal-list" ng-bind="operationalService"></li>
                </ul>

                <li style="font-weight: bold;" ng-show="isEndpoint">Endpoint:</li>

                <div ng-repeat="endpoint in endpoints">
                    <ul class="list-in-list-indent" ng-show="isEndpoint">
                        <li class="horizontal-list-title">Type: </li>
                        <li class="horizontal-list " ng-bind="endpoint.type"></li>
                    </ul>
                    <ul class="list-in-list-indent" ng-show="isEndpoint">
                        <li class="horizontal-list-title" >Url: </li>
                        <li  class="horizontal-list" ng-show="isInternetUrl">
                            <a ng-href="{{endpoint.url}}" target="_blank" ng-bind="endpoint.shortUrl"></a>
                        </li>
                        <li class="horizontal-list" ng-bind="endpoint.url" ng-hide="isInternetUrl">
                    </ul>
                </div>

                <li style="font-weight: bold;">Service specification:</li>
                <ul class="list-in-list-indent">
                    <li class="horizontal-list-title">Service ID: </li>
                    <li class="horizontal-list" ng-bind="serviceID"></li>
                </ul>
                <ul class="list-in-list-indent">
                    <li class="horizontal-list-title">Name: </li>
                    <li class="horizontal-list" ng-bind="serviceName"></li>
                </ul>
                <ul class="list-in-list-indent">
                    <li class="horizontal-list-title">Version: </li>
                    <li class="horizontal-list" ng-bind="serviceVersion"></li>
                </ul>
                <ul class="list-in-list-indent">
                    <li class="horizontal-list-title">Variant: </li>
                    <li class="horizontal-list" ng-bind="serviceVariant"></li>
                </ul>
                <ul class="list-in-list-indent" style="padding-left: 10px;">
                    <li class="horizontal-list-title">Transport: </li>
                    <li class="horizontal-list" ng-bind="serviceTransport"></li>
                </ul>
            </div>
        </ul>
    </div>
    <div id="noServicesSelected" class="noServices" ng-hide="showInfoBox" ng-cloak>
        <h4>No service selected</h4>
    </div>
</div>
<!--Top menu-->
<div id="left-toogle-button" class="navbar navbar-default navbar-fixed-top visible-sm visible-xs">
    <button type="button" class="navbar-toggle visible-sm visible-xs"
            data-toggle="offcanvas" data-target="#left-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <button id="right-toogle-button" type="button" class="navbar-toggle visible-sm visible-xs"
            data-toggle="offcanvas" data-target="#right-navbar"
            style="float: right; margin-right: 10px; position: relative;">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<!--Main content: map and title-->
<div class="container">
    <div><h1 id="title">Maritime Service Portfolio Registry</h1></div>
    <div id="map"></div>
</div>

<!--Loading resources-->
<!-- AngularJs v1.2.7-->
<script src="js/angular.min.js"></script>
<!-- OpenLayers v2.14-->
<script src="js/OpenLayers.js"></script>
<!-- Resources from client json file-->
<script src="json/services.js"></script>
<!-- Page functionality-->
<script src="js/portfolio-registry.js"></script>
<!--requried by Jasny bootstrap: http://jasny.github.io/bootstrap/ -->
<script src="js/jquery-1.10.2.min.js"></script>
<!-- Bootstrap v3.0.3-->
<script src="js/bootstrap.min.js"></script>
<!-- from: http://jasny.github.io/bootstrap/-->
<script src="js/offcanvas.js"></script>

</body>
</html>
